In [5]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import os 
import random

In [6]:
data=pd.read_csv("/content/Arabic_names.csv")

In [7]:
data.head()

     Name Gender
0  ابتسام      F
1  ابتهاج      F
2  ابتهال      F
3  اجتهاد      F
4  ازدهار      F

In [8]:
Male_ds=data[data.Gender=='M']
Female_ds=data[data.Gender=='F']

In [9]:
def Generate_Data_Names(no_of_name,Gender,Fake=False):
      names=[]
      uglyfication_list=['#','@',str(np.random.choice(10)),'*','&']
      for i in range(no_of_name):
        if Gender=='M':
          ds=Male_ds
        else:
          ds=Female_ds

        idx_first=np.random.choice(len(ds))
        idx_mid=np.random.choice(len(Male_ds))
        idx_last=np.random.choice(len(Male_ds))
        first=ds.iloc[idx_first][0]
        mid=Male_ds.iloc[idx_mid][0]
        last=Male_ds.iloc[idx_last][0]
        label=np.ones(no_of_name).astype(np.int8)

        if Fake:
          first=''.join(random.sample(first,len(first)))
          mid=''.join(random.sample(mid,len(mid)))
          last=''.join(random.sample(last,len(last)))

          if np.random.uniform()>0.8:
            first=first+np.random.choice(uglyfication_list)
          if np.random.uniform()>0.8:
            last=last+np.random.choice(uglyfication_list)
          if np.random.uniform()>0.8:
            mid=mid+np.random.choice(uglyfication_list)
          label=np.zeros(no_of_name).astype(np.int8)

          

        full_name= first+' '+mid+' '+last
        names.append(full_name)
      
      d=np.array([names,label])
      data=pd.DataFrame(d.T)
      data.columns=['names','labels']
      return data

In [10]:
correct_names_male=Generate_Data_Names(50000,'M')
correct_names_female=Generate_Data_Names(50000,'F')
Correct_ds=pd.concat([correct_names_male,correct_names_female],axis=0)

In [11]:
Correct_ds.sample(10)

                      names labels
23129       ضاري مصطفى تمام      1
45960        ساهرة جبل زياد      1
48708   حكمت عبدالكريم سلمة      1
39415      سفيان جودت مكتوم      1
6496           سمر رشيد كرم      1
1156        أميرة جازم حيدر      1
349           عقلة نمر صبيح      1
7680   عبدالرزاق سعدون أسلم      1
10189       جوهرة أديب حمزة      1
13964         نسيم رجب ساجد      1

In [12]:
fake_names_male=Generate_Data_Names(50000,'M',Fake=True)
fake_names_female=Generate_Data_Names(50000,'F',Fake=True)
Fake_ds=pd.concat([fake_names_male,fake_names_female],axis=0)

In [13]:
Fake_ds.sample(10)

                          names labels
28178          ادهج رطها@ نحفار      0
37301          سحءان إساحق ارقه      0
14128           حارج كابس6 ولرس      0
46537           لةماس يممت ساجي      0
43907      اهدن لنعامبناد ييفض#      0
15664           زمنة رعتاف دعي&      0
43242  سراي يدفحلباعظ ريصلدباعب      0
36618             كوشر نمج بساع      0
43428          وىفد جديم* نفغرض      0
28470        ءاثيم سيإلماع حاظف      0

In [14]:
All_data=pd.concat([Correct_ds,Fake_ds],axis=0)
All_data.to_csv("Names_Verification_ds_.csv")